*{
    margin: 0px;
    padding: 0px;
}

body{
    border: 3px solid blue;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.container{
    
    max-width: 1020px;
    margin: 50px auto;
}

.description{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px;
}

.btn-primary{
    border: none;
    margin-top: 20px;
    padding: 10px 25px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    border-radius: 41px;
    background: #E02C6D;
    cursor: pointer;
}

/*    Style Navbar   */
    
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    color: #3A3A3A;
    margin: 0px 15px;
    text-decoration: none;
}

nav ul li a img{
    width: 20px;
    height: 20px;
}

/*    style  Banner    */

.bannen{
    margin: 70px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*
.bannet-title{
    width: 580px;
}
.banner-description{
    width: 505px;
}
*/
.banner-column .image1{
    width: 330px;
    height: 310px;
    position: absolute;
    top: 180px;
}

.banner-column .image2{
    width: 360px;
}

/*   style Option section   */

.options{
    padding: 20px 0px;
    border-top: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* style Card   section */

.card-container{
    margin: 100px 0px;
}

.card-collection{
    text-align: center;
}

.card-content{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card{
    padding: 15px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    text-decoration: none;

}

.card img{
    border-radius: 10px;
    width: 100%;
    height: 230px;
}
.card .card-title{
    margin: 15px 0px;
    color: #18191F;
}
.card-cost{
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.87);
}

.card-container .see-more{
    padding: 0px 50px;
    display: flex;
    justify-content: end;
}

.card-container .see-more a{
    color: rgba(224, 44, 109, 0.87);
    font-weight: 600;
    text-decoration: none;
}

/*  style   Features    Section */

.featured{
    margin: 100px 0px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

/* style  footer section  */

.footer{
    padding: 50px 0px;
    background: #0A0826;
}
.footer-container{
    text-align: center;
}
.footer-title{
    color: white;
    font-weight: 700;
}

.footer-description{
    color: #D9DBE1;
    font-weight: 600;
    margin: 5px 0px;
}

.icon img{
    border-radius: 50%;
    margin: 20px 15px;
    width: 30px;
    height: 30px;
}


/*Responsive for small devices  */
@media screen and (max-width:576px) {
    nav{
        width: 100%;
        flex-direction: column;
    }

    .bannen{
        padding: 10px;
        flex-direction: column-reverse;
        gap: 40px;
    }
    .header{
        width: 100%;
    }
    .banner-column .image1{
        top: 240px;
    }
    .banner-column{
        width: 100%;
        text-align: center;
    }
    .options{
        margin: 10px;
        flex-wrap: wrap;
        row-gap: 30px;
    }

    li{
        margin: 0px;
        padding: 20px 0px;
    }
    ul li a{
        font-size: 12px;
    }
    nav ul li a img{
        width: 15px;
        height: 12px;
    }
}
/* responsive card */

@media screen and (max-width:576px) {
    .card-content{
        grid-template-columns: 1fr;
        padding: 10px;
    }
    .card-collection{
        margin-bottom: 40px;
    }
    .card-container .see-more{
        padding: 20px 10px;
    }
}

/* Responsive Featured section */

@media screen and (max-width:576px){
    .featured{
        padding: 10px;
        flex-direction: column-reverse;
    }
    .features-column-1 img{
        width: 100%;
    }
    .features-column-2{
        text-align: center;
    }
    .featured{
        gap: 40px;
    }
}