*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.container{
    
    max-width: 1140px;
    margin: 100px auto;
}

.title{
    color: #3A3A3A;
    font-size: 42px;
    font-weight: 700;
}
.description{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px;
}

.btn-primary{
    border: none;
    margin-top: 20px;
    padding: 10px 25px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    border-radius: 41px;
    background: #E02C6D;
    cursor: pointer;
}

/*    Style Navbar   */
    
nav{
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    margin: 0px 15px;
    text-decoration: none;
}

nav ul li a img{
    width: 20px;
    height: 20px;
}

/*    style  Banner    */

.bannen{
    margin: 70px 0px;
    border: 1px solid green;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-column .image1{
    width: 330px;
    height: 310px;
    position: absolute;
    top: 220px;
    
    
    
}

.banner-column .image2{
    width: 360px;
    
}


/*Responsive for small devices  */
@media screen and (max-width:576px) {
    nav{
        width: 100%;
        flex-direction: column;
    }

    .bannen{
        width: 100%;
        flex-direction: column-reverse;
    }
    .banner-column{
        text-align: center;
    }
    .banner-column .image1{
   

    li{
        margin: 0px;
        padding: 20px 0px;
    }
    ul li a{
        margin: 0px 10px;
        font-size: 12px;
    }
}